<footer class="footer">
  <div class="footer-middle">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-lg-3">
                  <div class="widget widget-about">
                      <img src="\img\63cf30fb2b1e35ba41fe6896f9a81807.jpg" class="footer-logo" alt="Footer Logo" width="105" height="25" style="border-radius: 50%;" />
                      <p>
                          Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.
                      </p>
                      <div class="social-icons">
                          <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                          <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                          <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                          <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                          <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                  <div class="widget">
                      <h4 class="widget-title">Useful Links</h4>
                      <ul class="widget-list">
                          <li><a href="about.html">About Vintage Frost</a></li>
                          <li><a href="#">How to shop on Vintage Frost</a></li>
                          <li><a href="#">FAQ</a></li>
                          <li><a href="contact.html">Contact us</a></li>
                          <li><a href="login.html">Log in</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                  <div class="widget">
                      <h4 class="widget-title">Customer Service</h4>
                      <ul class="widget-list">
                          <li><a href="#">Payment Methods</a></li>
                          <li><a href="#">Money-back guarantee!</a></li>
                          <li><a href="#">Returns</a></li>
                          <li><a href="#">Shipping</a></li>
                          <li><a href="#">Terms and conditions</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                  <div class="widget">
                      <h4 class="widget-title">My Account</h4>
                      <ul class="widget-list">
                          <li><a href="#">Sign In</a></li>
                          <li><a href="cart.html">View Cart</a></li>
                          <li><a href="#">My Wishlist</a></li>
                          <li><a href="#">Track My Order</a></li>
                          <li><a href="#">Help</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="footer-bottom">
      <div class="container">
          <p class="footer-copyright">
              Copyright © 2019 Vintage Frost. All Rights Reserved.
          </p>
          <figure class="footer-payments">
              <img src="/card-assets/images/payments.png" alt="Payment methods" width="272" height="20" />
          </figure>
      </div>
  </div>

  <style>
      /* Responsive Adjustments */
      @media (max-width: 100%) {
          .footer-middle .row {
              flex-direction: column;
              text-align: center;
          }

          .col-sm-6, .col-lg-3 {
              flex: 0 0 100%;
              max-width: 100%;
              margin-bottom: 20px;
          }

          .widget-about img {
              margin: 0 auto 15px;
          }

          .widget-title {
              font-size: 18px;
          }

          .widget-list {
              padding-left: 0;
              list-style: none;
          }

          .widget-list li a {
              font-size: 14px;
          }

          .social-icons {
              justify-content: center;
          }

          .social-icon {
              margin: 0 8px;
          }

          .footer-bottom .container {
              flex-direction: column;
              text-align: center;
          }

          .footer-copyright {
              margin-bottom: 10px;
          }

          .footer-payments img {
              width: 200px;
              height: auto;
          }
      }

      @media (max-width: 480px) {
          .widget-title {
              font-size: 16px;
          }

          .widget-list li a {
              font-size: 12px;
          }

          .widget-about p {
              font-size: 12px;
          }

          .social-icon {
              margin: 0 5px;
          }

          .footer-copyright {
              font-size: 12px;
          }

          .footer-payments img {
              width: 150px;
              height: auto;
          }
      }
  </style>
</footer>