<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Vintage Frost</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Molla - Bootstrap eCommerce Template" />
    <meta name="author" content="p-themes" />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="card-assets/images/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="card-assets/images/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="card-assets/images/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="card-assets/images/icons/site.html" />
    <link
      rel="mask-icon"
      href="card-assets/images/icons/safari-pinned-tab.svg"
      color="#666666"
    />
    <link rel="shortcut icon" href="card-assets/images/icons/favicon.ico" />
    <meta name="apple-mobile-web-app-title" content="vintage Frost" />
    <meta name="application-name" content="vintage Frost" />
    <meta name="msapplication-TileColor" content="#cc9966" />
    <meta
      name="msapplication-config"
      content="card-assets/images/icons/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="card-assets/css/bootstrap.min.css" />
    <!-- ========================================== -->
    <link rel="stylesheet" href="/card-assets/css/style.css" />
    <link rel="stylesheet" href="card-assets/css/skins/skin-demo-2.css" />
    <link rel="stylesheet" href="card-assets/css/demos/demo-2.css" />
    <!-- Main CSS File -->
    <!-- <link rel="stylesheet" href="card-assets/css/style.css"> -->
    <link
      rel="stylesheet"
      href="card-assets/css/plugins/owl-carousel/owl.carousel.css"
    />
    <!-- <link rel="stylesheet" href="card-assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="card-assets/css/plugins/nouislider/nouislider.css"> -->
    <link rel="stylesheet" href="css/allproduct.css" />
    <link rel="stylesheet" href="css/homepage.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />

    <style>
      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-menu {
        display: none; /* Hidden by default */
        position: absolute;
        background-color: white;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 5px;
        z-index: 1;
      }

      .dropdown-menu a {
        color: black;
        text-decoration: none;
        display: block;
        margin: 5px 0;
      }

      .dropdown-menu a:hover {
        background-color: #f1f1f1;
        border-radius: 3px;
      }
    </style>
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <div class="page-wrapper" style="min-height: 23%">
      <header>
        <div class="logo">
          <img
            class="logo-img"
            src="/img/63cf30fb2b1e35ba41fe6896f9a81807.jpg"
            alt=""
          />
          <h3>CAKE CHIEF</h3>
        </div>
        <div class="icons" style="padding-left: 89px;">
          <div class="header-right">
            <div class="header-search">
              <a href="#" class="search-toggle" role="button" title="Search"
                ><i class="icon-search"></i
              ></a>
              <form action="/all-products" method="get">
                <div class="header-search-wrapper">
                  <label for="q" class="sr-only">Search</label>
                  <input 
                    type="search"
                    class="form-control"
                    name="search"
                    id="search-input"
                    placeholder="Search in..."
                    required
                  />
                </div>
              </form>
      </div>
          <% if (user) { %>
            <i class="fas fa-heart"></i>
            <a href="/cart">
              <i class="fas fa-shopping-cart">

              </i>
            </a>
            
          <div class="dropdown">
            <i
              class="fas fa-person dropdown-toggle"
              onclick="toggleDropdown(event)"
            ></i>
            <div id="dropdownMenu" class="dropdown-menu">
              <a href="/user-profile">User Profile</a>
              <a id="logout" href="/logout">Logout</a>
            </div>
          </div>
          <% } else { %>
          <a href="/login">
            <i class="fas fa-sign-in-alt"> Login</i>
          </a>
          <% } %>
        </div>
      </header>

      <nav>
        <ul>
          <li><a href="/home-page">HOME</a></li>
          <li><a href="/all-products">SHOP</a></li>
          <li><a href="#">EXPRESS DELIVERY</a></li>
          <li><a href="#">CONTACT</a></li>
          <li><a href="#">ABOUT</a></li>
        </ul>
      </nav>

      <script>
        const search_input_el=document.querySelector('#search-input')
        const logout_btn_el = document.querySelector("#logout");

        logout_btn_el.addEventListener("click", async (e) => {
          e.preventDefault(); // Prevent default action (redirecting)

          // Show the confirmation modal using SweetAlert2
          const result = await Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, logout!",
          });

          // If the user confirmed the action, redirect
          if (result.isConfirmed) {
            window.location.href = logout_btn_el.href; // Redirect to logout URL
          }
        });

        function toggleDropdown(event) {
          event.stopPropagation();
          const dropdownMenu = document.getElementById("dropdownMenu");
          dropdownMenu.style.display =
            dropdownMenu.style.display === "block" ? "none" : "block";
        }

        window.onclick = function (event) {
          if (!event.target.matches(".dropdown-toggle")) {
            const dropdowns = document.getElementsByClassName("dropdown-menu");
            for (let i = 0; i < dropdowns.length; i++) {
              dropdowns[i].style.display = "none";
            }
          }
        };

// search_input_el.addEventListener('keypress', async (e) => {
//     if (e.key === 'Enter') { 
//         e.preventDefault();
//         console.log(search_input_el.value);
        
//         window.location.href = `/all-products?search=${search_input_el.value}`;
//     }
// });



  
      </script>
    </div>
  </body>
</html>


