<%-include('./layouts/header')%>


            
            <section class="content-main">
                <div class="row">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Add Offer</h2>
                          
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-4">
                                    <label for="product_title" class="form-label">Offer Name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_title" />
                                </div>
                                <div class="row gx-3">
                                    <div class="col-md-4 mb-3">
                                        <label for="product_sku" class="form-label">Starting Date</label>
                                        <input type="date" placeholder="Type here" class="form-control" id="product_sku" />
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="product_color" class="form-label">Ending Date</label>
                                        <input type="date" placeholder="Type here" class="form-control" id="product_color" />
                                    </div>
                                   
                                </div>
                                <div class="mb-4">
                                    <label for="product_brand" class="form-label">Discount Percentage</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="product_brand" />
                                </div>
                                <button class="btn btn-md rounded font-sm hover-up">Publish</button>
                            </div>
                        </div>
                        <!-- card end// -->
                      
                       
                    </div>
                   
                </div>
            </section>
         


            <%-include('./layouts/footer')%>