<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/homepage.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          class="logo-img"
          src="/img/63cf30fb2b1e35ba41fe6896f9a81807.jpg"
          alt=""
        />
        <h3>CAKE CHIEF</h3>
      </div>
      <div class="icons">
        <i class="fas fa-heart"></i>
        <i class="fas fa-shopping-cart"></i>
        <i class="fas fa-search"></i>
        <i class="fas fa-person"></i>
      </div>
    </header>

    <nav>
      <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">SHOP</a></li>
        <li><a href="#">EXPRESS DELIVERY</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">ABOUT</a></li>
      </ul>
    </nav>
    <main>
        <h1>cakes by flavours</h1>
        <h2>order your cake online</h2>
        <div class="cake-list">
            <div class="sml-cnt">
                <img src="" alt="">
            </div>
            <div class="sml-cnt1"></div>
            <div class="sml-cnt2"></div>
            <div class="sml-cnt3"></div>
            <div class="sml-cnt4"></div>
            <div class="sml-cnt5"></div>
        </div>
        <div class="banner">
            <div class="banner-head">
                <h1>chocolate</h1>
                <h2>goodness in every sllice</h2>
            </div>
            <div class="banner-img"></div>
        </div>
    </main>
  </body>
</html>
