<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/otp.css">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    rel="stylesheet"
  />
</head>
<body>

      <div class="main">
        <h1>CHECK YOUR PHONE</h1>
        <h2>we've sent OTP to your <%=email%></h2>
        <p>ENTER  OTP</p>
       
        <div class="OTP-inputs">
            <input type="number" maxlength="1" class="otp-input" id="otp1">
            <input type="number" maxlength="1" class="otp-input" id="otp2">
            <input type="number" maxlength="1" class="otp-input" id="otp3">
            <input type="number" maxlength="1" class="otp-input" id="otp4">
            <input type="number" maxlength="1" class="otp-input" id="otp5">
    
        </div>
        <button class="submit-btn" id="otp-btn">verify</button>
        <P>Did't recieve the otp verification <a href="#" id="resend-otp">Resend Again</a></P>
       
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/otp.js"></script>

</html>